*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    margin-top: 5%;
}

.searchStyle{
    width:350px; 
    height:40px; 
    font-size:15px; 
    border:1px grey solid; 
    box-shadow: 0 0 5px black; 
    border-radius:15px;
    outline: 0;
}

.container table tr td div img{
    width: 40%;
    height: auto;
}

.container table tr td div{
    text-align: center;
}


.container table tr td button {
    background-color: #8789C0;
    outline: 0;
    color: white;
    border-radius: 10px;
    border-color: transparent;
    width: 25%;  
}

.container table tr td button:hover {
    color: black;
    background-color: transparent;
}

.btn-default a{
    text-decoration: 0;
    outline: 0;
    color: inherit;
}

nav h1{
    text-align: center; 
    color: #8789C0; 
    font-weight: bolder;
}
